<!-- <div class="visitor-list-container">
    <form action="">
        <h2>Visitor Data</h2>
        <div class="visitor" *ngIf="visitors.length > 0">
            <table class="table">
                <thead>
                    <tr>
                        <th class="name-col">Name</th>
                        <th class="lic-col">LIC No</th>
                        <th class="mob-col">Mobile</th>
                        <th class="meet-col">Meet To</th>
                        <th class="dep-col">Department</th>
                        <th class="pur-col">Purpose Remark</th>
                        <th class="purp-col">Purpose Group</th>
                        <th class="time-column">Time In</th>
                        <th class="time1-column">Time Out</th>
                        <th class="oth-col">Other Remark</th>
                        <th class="vis-col">Visit Card</th>
                        <th class="pho-col">Photo</th>
                        <th class="cre-col">Created Date</th>
                        <th class="up-col">Updated Date</th>
                        <th class="act-col">Actions</th>
                    </tr>
                </thead>
            </table>
            <div class="table-body">
                <table class="table">
                    <tbody>
                        <tr *ngFor="let visitor of visitors" class="visitor-row">
                            <td class="name-col">{{ visitor.name }}</td>
                            <td class="lic-col">{{ visitor.licNo }}</td>
                            <td class="mob-col">{{ visitor.mobile }}</td>
                            <td class="meet-col">{{ visitor.meetTo }}</td>
                            <td class="dep-col">{{ visitor.department }}</td>
                            <td class="pur-col">{{ visitor.purposeRemark }}</td>
                            <td class="purp-col">{{ visitor.purposeGroup }}</td>
                            <td class="time-column">{{ visitor.timeIn }}</td>
                            <td class="time1-column">{{ visitor.timeOut }}</td>
                            <td class="oth-col">{{ visitor.otherRemark }}</td>
                            <td class="vis-col">{{ visitor.visitCard }}</td>
                            <td class="pho-col">
                                <img *ngIf="visitor.photo" [src]=" visitor.photo" alt="Photo" style="max-width: 90px;">
                            </td>
                            <td class="cre-col">{{ visitor.created_date }}</td>
                            <td class="up-col">{{ visitor.updated_date }}</td>
                            <td class="act-col">
                                <button class="btn btn-primary btn-edit" (click)="getVisitor(visitor.id)">Edit</button>
                                <button class="btn btn-danger btn-delete" (click)="deleteVisitor(visitor.id)">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div *ngIf="loading" class="loading-spinner">
                Loading...
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex justify-content-end align-items-center">
                <button class="btn btn-primary mt-3 mr-2" (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
                <button class="btn btn-primary mt-3 mr-2" (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
                <button (click)="exportToExcel()" class="btn btn-primary mt-3">Export to Excel</button>
            </div>
        </div>

    </form>
</div> -->

<div class="container visitor-list-container mt-4">
    <h2>Visitor Data</h2>
    <input type="text" id="searchtext" name="searchtext" [(ngModel)]="searchtext" (input)="searchd()" placeholder="seach by name">
    <label for="searchTimeIn">Start Date: </label>
    <input type="datetime-local" [(ngModel)]="startDate" id="startDate" placeholder="\/">
    <label for="searchTimeOut">End Date: </label>
    <!-- <input type="datetime-local" id="endDate" placeholder="datetime" /> -->
    <input type="datetime-local" [(ngModel)]="endDate" id="endDate" placeholder="\/">
    <button (click)="searchByTime()">Search by Time</button>



    <div *ngIf=" visitors.length> 0">
        <div class="table-responsive">
            <table class="table table-striped" style="--bs-table-striped-bg: #e7e1e1; --bs-table-bg: #f9f5f5;">
                <thead>
                    <tr>
                        <th scope="col">Select</th>
                        <th class="name-col">Name</th>
                        <th class="lic-col">LIC No</th>
                        <th class="mob-col">Mobile</th>
                        <th class="meet-col">Meet To</th>
                        <th class="dep-col">Department</th>
                        <th class="pur-col">Purpose Remark</th>
                        <th class="purp-col">Purpose Group</th>
                        <th class="time-column">Time In</th>
                        <th class="time1-column">Time Out</th>
                        <th class="oth-col">Other Remark</th>
                        <th class="vis-col">Visit Card</th>
                        <th class="pho-col">Photo</th>
                        <!-- <th class="cre-col">Created Date</th>
                        <th class="up-col">Updated Date</th> -->
                        <th class="act-col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let visitor of visitors" class="visitor-row">
                        <td>
                            <input type="checkbox" (change)="onVisitorSelect(visitor, $event)" placeholder="\/">
                        </td>

                        <td class="name-col">{{ visitor.name }}</td>
                        <td class="lic-col">{{ visitor.licNo }}</td>
                        <td class="mob-col">{{ visitor.mobile }}</td>
                        <td class="meet-col">{{ visitor.meetTo }}</td>
                        <td class="dep-col">{{ visitor.department }}</td>
                        <td class="pur-col">{{ visitor.purposeRemark }}</td>
                        <td class="purp-col">{{ visitor.purposeGroup }}</td>
                        <td class="time-column">{{ visitor.timeIn }}</td>
                        <td class="time1-column">{{ visitor.timeOut }}</td>
                        <td class="oth-col">{{ visitor.otherRemark }}</td>
                        <td class="vis-col">{{ visitor.visitCard }}</td>
                        <td class="pho-col">
                            <img *ngIf="visitor.photo" [src]="visitor.photo" alt="Photo" style="max-width: 90px;">
                        </td>
                        <!-- <td class="cre-col">{{ visitor.created_date }}</td>
                        <td class="up-col">{{ visitor.updated_date }}</td> -->
                        <td class="act-col">
                            <button class="btn btn-primary btn-edit mr-2" (click)="getVisitor(visitor.id)">Edit</button>
                            <button class="btn btn-danger btn-delete mt-2" (click)="deleteVisitor(visitor.id)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="row mt-3">

            <nav aria-label="Visitor pagination">
                <ul class="pagination justify-content-center">
                    <li class="page-item" [class.disabled]="currentPage === 1">
                        <a class="page-link" (click)="previousPage()" aria-label="Previous">
                            <span aria-hidden="true">Previous</span>
                        </a>
                    </li>

                    <li class="page-item" *ngIf="currentPage > 3">
                        <a class="page-link" (click)="setPage(1)">1</a>
                    </li>
                    <li class="page-item" *ngIf="currentPage > 3">
                        <span class="page-link">...</span>
                    </li>

                    <li class="page-item" *ngFor="let page of getPageNumbers()" [class.active]="page === currentPage">
                        <a class="page-link" (click)="setPage(page)">{{ page }}</a>
                    </li>

                    <li class="page-item" *ngIf="currentPage < totalPages - 2">
                        <span class="page-link">...</span>
                    </li>
                    <li class="page-item" *ngIf="currentPage < totalPages - 2">
                        <a class="page-link" (click)="setPage(totalPages)">{{ totalPages }}</a>
                    </li>

                    <li class="page-item" [class.disabled]="currentPage === totalPages">
                        <a class="page-link" (click)="nextPage()" aria-label="Next">
                            <span aria-hidden="true">Next</span>
                        </a>
                    </li>

                    <li>

                        <button (click)="exportToExcel()" class="btn btn-primary">Export to Excel</button>
                    </li>
                </ul>
            </nav>
        </div>
    </div>


    <div *ngIf="visitors.length === 0" class="text-center">
        <p>No visitors found.</p>
    </div>
</div>




<div class="visitor-form-container mt-5">
    <h2>Visitor Form</h2>
    <form #visitorForm="ngForm" (ngSubmit)="onSubmit(visitorForm)" class="visitor-form">
        <div class="form-group">
            <label for="searchQuery">Search:</label>
            <input type="text" id="searchQuery" name="searchQuery" [(ngModel)]="searchQuery" (input)="search()" class="form-control">
        </div>

        <div class="form-grid">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" [(ngModel)]="selectedVisitor.name" class="form-control" required>
                <div *ngIf="visitorForm.controls['name']?.invalid && visitorForm.controls['name']?.touched">
                    <small class="text-danger">Name is required.</small>
                </div>
            </div>

            <div class="form-group">
                <label for="licNo">LIC No:</label>
                <input type="text" id="licNo" name="licNo" [(ngModel)]="selectedVisitor.licNo" class="form-control" required pattern="^\d{13}$" maxlength="13" #mobile="ngModel">
                <div *ngIf="visitorForm.controls['licNo']?.invalid && visitorForm.controls['licNo']?.touched">
                    <small class="text-danger">licNo is required.</small>
                </div>
            </div>
            <div class="form-group">
                <label for="mobile">Mobile:</label>
                <input type="text" id="mobile" name="mobile" [(ngModel)]="selectedVisitor.mobile" class="form-control" required pattern="^\d{10}$" maxlength="10" #mobile="ngModel">
                <div *ngIf="mobile.errors && (mobile.dirty || mobile.touched)">
                    <small class="text-danger" *ngIf="mobile.errors['required']">Mobile number is required.</small>
                    <small class="text-primary" *ngIf="mobile.errors['pattern']">Mobile number must be 10 digits.</small>
                </div>
            </div>
            <div class="form-group">
                <label for="meetTo">Meet To:</label>
                <input type="text" id="meetTo" name="meetTo" [(ngModel)]="selectedVisitor.meetTo" class="form-control" required>
                <div *ngIf="visitorForm.controls['meetTo']?.invalid && visitorForm.controls['meetTo']?.touched">
                    <small class="text-danger">Meet To is required.</small>
                </div>
            </div>
            <div class="form-group">
                <label for="department">Department:</label>
                <select id="department" name="department" [(ngModel)]="selectedVisitor.department" class="form-control" required>
                    <option value="" disabled selected>Select department</option>
                    <option value="HR">HR</option>
                    <option value="Finance">Finance</option>
                    <option value="IT">IT</option>
                </select>
                <div *ngIf="visitorForm.controls['department']?.invalid && visitorForm.controls['department']?.touched">
                    <small class="text-danger">Department is required.</small>
                </div>
            </div>
            <div class="form-group">
                <label for="purposeRemark">Purpose Remark:</label>
                <textarea id="purposeRemark" name="purposeRemark" [(ngModel)]="selectedVisitor.purposeRemark" class="form-control" required></textarea>
                <div *ngIf="visitorForm.controls['purposeRemark']?.invalid && visitorForm.controls['purposeRemark']?.touched">
                    <small class="text-danger">Purpose Remark is required.</small>
                </div>

            </div>
            <div class="form-group">
                <label for="purposeGroup">Purpose Group:</label>
                <select id="purposeGroup" name="purposeGroup" [(ngModel)]="selectedVisitor.purposeGroup" class="form-control">
                    <option value="Option 1">Personal</option>
                    <option value="Option 2">Business</option>
                </select>
            </div>
            <div class="form-group">
                <label for="timeIn">Time In:</label>
                <input type="datetime-local" id="timeIn" name="timeIn" [(ngModel)]="selectedVisitor.timeIn" class="form-control" required>
                <div *ngIf="visitorForm.controls['timeIn']?.invalid && visitorForm.controls['timeIn']?.touched">
                    <small class="text-danger">Time In is required.</small>
                </div>
            </div>
            <div class="form-group">
                <label for="timeOut">Time Out:</label>
                <input type="datetime-local" id="timeOut" name="timeOut" [(ngModel)]="selectedVisitor.timeOut" class="form-control" required>
                <div *ngIf="visitorForm.controls['timeOut']?.invalid && visitorForm.controls['timeOut']?.touched">
                    <small class="text-danger">Time Out is required.</small>
                </div>
            </div>
            <div class="form-group">
                <label for="otherRemark">Other Remark:</label>
                <textarea id="otherRemark" name="otherRemark" [(ngModel)]="selectedVisitor.otherRemark" class="form-control" required></textarea>
                <div *ngIf="visitorForm.controls['otherRemark']?.invalid && visitorForm.controls['otherRemark']?.touched">
                    <small class="text-danger">Other Remark is required.</small>
                </div>
            </div>
            <div class="form-group">
                <label for="visitCard">Visit Card:</label>
                <input type="text" id="visitCard" name="visitCard" [(ngModel)]="selectedVisitor.visitCard" class="form-control" required>
                <div *ngIf="visitorForm.controls['visitCard']?.invalid && visitorForm.controls['visitCard']?.touched">
                    <small class="text-danger">Visa Card is required.</small>
                </div>
            </div>
            <div class="form-group">
                <label for="photo">Photo:</label>
                <div>
                    <webcam [width]="150" [height]="100" [trigger]="triggerObservable" (imageCapture)="handleImageCapture($event)"></webcam>
                </div>
                <button type="button" class="btn btn-primary" (click)="capturePhoto()">Capture Photo</button>
                <img *ngIf="selectedVisitor.photo" [src]="selectedVisitor.photo" alt="Captured Photo" class="captured-photo">
                <!-- <img src="assets\photo\1721115322846.png" alt="vhvvhb "> -->

            </div>
            <!-- <pre>{{ selectedVisitor | json }}</pre> -->
        </div>

        <div class="buttons ">
            <button type="button" class="btn btn-secondary " (click)="cancel() ">Cancel</button>
            <button type="button" class="btn btn-secondary " (click)="openPreviewDialog() ">Preview</button>
            <!-- <button type="submit " class="btn btn-primary " onclick="onubmit ">Submit</button> -->
            <button type="submit" class="btn btn-primary " (click)="onSubmit">Submit</button>

        </div>
    </form>
</div>