.visitor-list-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    height: 600px;
    /* Adjust as needed */
    overflow-y: auto;
}

.visitor-list-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.table-container {
    width: 100%;
    overflow-x: auto;
    max-height: calc(100% - 90px);
    /* Adjust this height based on your needs */
    position: relative;
}

.table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.table th,
.table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    vertical-align: top;
    word-wrap: break-word;
}

.table th {
    background-color: #f2f2f2;
    position: sticky;
    top: 0;
    z-index: 2;
}

.table td {
    vertical-align: middle;
}

.table img {
    display: block;
    margin: 0 auto;
}

.table-body {
    max-height: 450px;
    /* Adjust based on your layout */
    overflow-y: auto;
}

.loading-spinner {
    text-align: center;
    margin-top: 10px;
}

.btn {
    margin-right: 5px;
}

.visitor-form-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-top: 20px;
}

.visitor-form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.visitor-form .form-group {
    margin-bottom: 15px;
}

.visitor-form .form-group label {
    display: block;
    margin-bottom: 5px;
}

.visitor-form .form-control {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.visitor-form .form-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.visitor-form .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.visitor-form .btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: blue;
    color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.captured-photo {
    max-width: 200px;
    margin-top: 10px;
}

.text-danger {
    color: red;
}

.text-primary {
    color: blue;
}


/* Specific button spacing for edit and delete buttons */

.btn-edit {
    margin-right: 10px;
    /* Adjust the margin as needed */
}

.btn-delete {
    margin-left: 10px;
    /* Adjust the margin as needed */
}


/* Specific button styles for edit and delete buttons */

.btn-edit {
    background-color: darkgreen;
    /* Green */
    color: white;
    margin-right: 25px;
    width: 60px;
    /* Adjust the margin as needed */
}

.btn-delete {
    background-color: rgb(241, 8, 8);
    /* Red */
    color: white;
    margin-left: 1px;
    width: 60px;
    /* Adjust the margin as needed */
}